.content {
  margin-bottom: 2.5rem;
  max-width: 1000px;

  &__item {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #EBEBEB;
    box-shadow: 0 0 3px #EBEBEB;
  }

  &__button {
    max-width: 9rem;
    border-radius: 1.2rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 2px;
  }

  &__text-area {
    padding: 0;
    line-height: 1.4rem;
  }

  &__text {
    margin: 0;
  }

  &__img {
    border-radius: 0.25rem;
    margin-bottom: 1rem;
  }
}